{% extends 'base.twig' %}

{% block content %}

<h2>User</h2>

{{ flash.info }} <br />
{{ flash.error }} <br />

{% if user %}
    {% if user.getImage is not empty %}
    <img src="/images/profiles/{{ user.image }}">
    {% endif %}
    <table>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Bio</th>
            <th>Age</th>
        </tr>
            <tr>
            <td>{{ user.username }}</td>
            {% if isLoggedIn %}
            <td>{{ user.email }}</td>

            {% else %}
             <td>{{ user.email(true) }}</td>
            {% endif %}
            <td>{{ user.bio }}</td>
            <td>{{ user.age }}</td>
        </tr>
    </table>
{% else %}
    Could not find user.
{% endif %}

{% endblock %}
